/* ----- GENERAL CSS -----*/
body{
    background-color: rgba(120, 110, 122, 0.5);
}
/* ----- CLASS-BASED CSS ----- */
.page_section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.main_section {
    width: 80%;
    background-color: rgba(61, 61, 66, 50%);
    color: white;
}

.spacer {
    width: 10%;
}

/* ----- ID-BASED CSS -----*/