/* ----- FONTS ----- */ 
@font-face {
    font-family: "Reenie Beanie";
    src: url('../fonts/ReenieBeanie-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* ----- GENERAL CSS ----- */

/* ----- CLASS-BASED CSS ----- */

.header_section {
    width: 100%;
    overflow: auto;
}

.title_links {
    width: 100%;
    float: left;
    display: flex;
}

.title_section {
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-family: 'Reenie Beanie', sans-serif;
    color: rgb(0, 0, 0);
}

.navlinks {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    margin: auto;
    font-family: 'Acumin Pro', sans-serif;                       
}

.dropdown {
    float: left;
    display: inline-block;
    overflow: hidden;
}

.dropdown_button {
    background-color: #f6a3d6;
    color: rgb(0, 0, 0);
    padding: 16px;
    font-size: 16px;
    border: none;
    width: 140px;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: #F1F1F1;
    width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown_content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: center;
    }

        .dropdown_content a:hover {
            background-color: #ddd;
        }

.dropdown:hover .dropdown_content {
    display: block;
}

.dropdown:hover .dropdown_button {
    background-color: #e88fd4;
}

/* ----- ID-BASED CSS -----*/
#dreams_logo {
    width: 179px;
    height: 150px;
    margin-left: 10%;
}

#home_button {
    background-color: #f6a3d6;
    color: rgb(0, 0, 0);
    padding: 16px;
    font-size: 16px;
    border: none;
    width: 140px;
}

    #home_button:hover {
        background-image: url("../images/sakurapetals.png");
        color: white;
    }

#blog_button {
    background-color: #f6a3d6;
    color: rgb(0, 0, 0);
    padding: 16px;
    font-size: 16px;
    border: none;
    width: 140px;
}

    #blog_button:hover {
        background-image: url("../images/nebula.jpg");
        color: white;
    }

#wordletool_link:hover {
    background-image: url("../images/wordletool.png");
    text-align: right;
}

#instagram_link {
    background-color: #F1F1F1;
    color: rgb(0, 0, 0);
    text-align: center;
}

    #instagram_link:hover {
        background-image: url("../images/instagram-logo-colored.jpg");
        text-align: right;
        color: white;
    }

#artfight_link:hover {
    background-image: url("../images/artfightimage.png");
    text-align: right;
}

#portfolio_link:hover {
    background-image: url("../images/portfolioimage.png");
}

#znoverview_link {
    font-size: 14px;
}

    #znoverview_link:hover {
        background-image: url("../images/znnoverviewlink.png");
        color: white;
    }