/* ----- GENERAL CSS -----*/
body{
    background-color: rgb(255, 233, 254);
}

p {
    padding: 10px;
}

/* ----- CLASS-BASED CSS ----- */
.page_section {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.main_section {
    width: 80%;
    background-color: rgba(31, 31, 33, 0.859);
    color: white;
}

.spacer {
    width: 10%;
}

.character_icon {
    height: 100px;
    width: 100px;
}

.gallery_image {
    cursor: pointer;
    transition: 0.3s;
}

    .gallery_image:hover {
        opacity: 0.7;
    }

.image_modal {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.modal_image {
    margin: auto;
    display: block;
    width: 80%;
}

.close-button {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

    .close:hover, .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

/* ----- ID-BASED CSS -----*/