/* ----- FONTS ----- */
@font-face {
    font-family: "Finger Paint";
    src: url('../fonts/FingerPaint-Regular.woff2') format('woff2'); 
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    /* sans-serif */
}

@font-face {
    font-family: "Nanum Brush Script";
    src: url('../fonts/NanumBrushScript-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    /* cursive */
}

/* ----- GENERAL CSS -----*/
:root {
    position: relative;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 233, 254);
}

p {
    padding: 10px;
}

/* ----- CLASS-BASED CSS ----- */
.page_section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_section {
    width: 80%;
    background-color: rgba(31, 31, 33, 0.95);
    color: white;
}

.spacer {
    width: 10%;
}

.character_name {
    padding: 10px;
}

.character_icon {
    height: 100px;
    width: 100px;
    padding: 10px;
}

.gallery_section {
    display: flex;
    flex-wrap: wrap;
}

.gallery_image {
    cursor: pointer;
    transition: 0.3s;
    padding: 10px;
}

    .gallery_image:hover {
        opacity: 0.7;
    }

.image_modal {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.modal_image {
    margin: auto;
    display: block;
    width: 80%;
}

.close-button {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

    .close:hover, .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

.background-setup {
    margin: 0;
    padding: 0;
    width: 100wv;
    z-index: -1;
    position: fixed;
}

.znnheader {
    width: 100%;
    overflow: auto;
    float: left;
    display: flex;
}

.znnnavlinks {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    margin: 10% 5% auto;   
    height: fit-content;               
}

.dropdown {
    float: left;
    display: inline-block;
}

.dropdown_button {
    background-color: #f6a3d6;
    color: rgb(0, 0, 0);
    padding: 16px;
    font-size: 16px;
    border: none;
    width: 140px;
}

.dropdown_content {
    display: none;
    position: relative; 
    background-color: #F1F1F1;
    width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown_content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: center;
    }

        .dropdown_content a:hover {
            background-color: #ddd;
        }

.dropdown:hover .dropdown_content {
    display: block;
}

.dropdown:hover .dropdown_button {
    background-color: #e88fd4;
}

/* ----- ID-BASED CSS -----*/
#background-image {
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: -1;
    position: fixed;
}

#background-opacity-filter {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    position: fixed;
    background-color: rgba(200, 200, 200, 0.4);
}

#znnhome_button {
    font-family: 'Nanum Brush Script', cursive;
    font-size: 25px;
    padding: 5px;
    border: none;
    width: 100px;
    height: 35px;
}

#world_map_button {
    font-family: 'Nanum Brush Script', cursive;
    font-size: 25px;
    padding: 5px;
    border: none;
    width: 100px;
    height: 35px;
}

#stories_link {
    font-family: 'Nanum Brush Script', cursive;
    font-size: 25px;
    padding: 5px;
    border: none;
    width: 100px;
    height: 35px;
}

#floraandfauna_button {
    font-family: 'Nanum Brush Script', cursive;
    font-size: 15px;
    padding: 5px;
    border: none;
    width: 100px;
    height: 35px;
}

#characters_button {
    font-family: 'Nanum Brush Script', cursive;
    font-size: 25px;
    padding: 5px;
    border: none;
    width: 100px;
    height: 35px;
}

#dejin_name {
    font-family: 'Finger Paint', sans-serif;
}